/* SECTION */
.packages-section {
    background: #fff;
    margin: 3rem 0rem;
    padding: 0rem 5rem;
}

.packages-container {
    width: 100%;
    padding: 0rem;
}

.packages-top-wrapper {
    text-align: left;
    margin-bottom: 2rem;
}

.packages-cards-wrapper {
    width: 100%;
}


.packages-heading {
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0;
}

.packages-underline {
    width: 180px;
    height: 4px;
    background: #ea244f;
    margin-left: 9.8rem;
}

/* GRID */
.packages-grid {
    display: grid;
    gap: 1rem;
    /* justify-content: space-between; */
    grid-template-columns: repeat(3, 1fr);
}

/* CARD */
.package-card {
    flex: 1;
    border: 2px solid #115c8e;
    border-radius: 1rem;
    padding: 0;
    overflow: hidden;
    transition: all 0.1s ease;
    outline: 0px solid transparent;
    background: #fff;
}

.package-card:hover {
    /* border: 2px solid #f4829d; */
    /* transform: translateY(-4px); */
    /* border: 4px solid #115c8e; */

    outline: 4px solid #115c8e;
    outline-offset: -4px;
    /* transform: translateY(-4px); */
}

.card-header {
    text-align: center;
    /* padding: 2rem 1rem 1.5rem; */
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.package-card:hover .card-header {
    background: linear-gradient(180deg, #115c8e, #f4829d);
}

.package-card:hover .card-desc,
.package-card:hover .card-price {
    color: #fff;
}

.card-plan-box {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.card-plan {
    background: linear-gradient(to top, #f4829d, #115c8e);
    padding: 0.7rem 3rem;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    margin: 1rem 0rem;
}

.card-desc {
    color: #000;
    font-size: 1rem;
    /* font-weight: 100 !important; */

    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* show only 2 lines */
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
}


.card-price-box {
    margin: 0.5rem 0rem;
}

.card-price {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
}

.card-features {
    padding: 0rem 0.8rem;
}

.feature-row {
    display: flex;
    gap: 0.4rem;
    align-items: flex-start;
    margin-top: 0.8rem;
}

.tick-box {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

.tick-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BUTTON */
.package-btn {
    position: relative;
    margin: 1rem auto 1rem;
    display: block;
    /* background: linear-gradient(90deg, #115c8e, #f4829d); */
    /* color: #fff; */
    background: #fff;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
    cursor: pointer;

    background-image: linear-gradient(#fff, #fff),
        linear-gradient(90deg, #115c8e, #f4829d);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.package-card:hover .package-btn {
    background: linear-gradient(90deg, #115c8e, #f4829d),
        linear-gradient(90deg, #115c8e, #f4829d);
    color: #fff;
    border: 2px solid transparent;
}

/* .package-btn:hover {
    opacity: 0.9;
} */

.feature-text {
    font-size: 1.1rem;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-button-box {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}


/* RESPONSIVE */
@media(min-width: 1300px) {
    .packages-cards-wrapper {
        padding: 0rem 4rem;
    }
}

@media(max-width: 1200px) {
    .packages-section {
        padding: 0rem 1rem;
    }
}

@media(max-width: 900px) and (min-width: 600px) {
    .packages-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .package-card {
        width: 90%;
        max-width: 24rem;
    }
}

@media (max-width: 600px) {

    /* SECTIOn PADDING */
    .packages-section {
        padding: 0rem 0.8rem;
    }

    .packages-container {
        padding: 0rem;
    }

    .packages-heading {
        font-size: 1.8rem;
    }

    .packages-underline {
        width: 120px;
        height: 3px;
        margin-left: 6.6rem;
    }

    .packages-grid {
        grid-template-columns: 1fr;
        gap: 0.8rem;
    }

    .package-card {
        padding-bottom: 0.6rem;
        border-width: 1.5px;
        border-radius: 12px;
    }

    .card-header {
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }

    .card-desc {
        font-size: 0.9rem;
    }

    .card-price {
        font-size: 1.6rem;
    }

    .card-features {
        padding: 0rem 0.5rem;
    }

    .feature-text {
        font-size: 0.95rem;
        -webkit-line-clamp: 2;
    }

    .tick-box {
        width: 18px;
        height: 18px;
    }

    .package-btn {
        padding: 0.6rem 1.5rem;
        font-size: 1rem;
        border-radius: 6px;
        margin-bottom: 1rem;
    }
}
